html {

}

body {
  width: 1024px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}
.filters {
  display: flex;
  align-items: center;
  justify-items: center;
  margin:0 0 20px 0;
  /* justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; */
}
.cards {
				display: flex;
				flex-direction: row;
				justify-content: center;
				width: 960px;
				max-width: 100%;
				margin: auto;
}

.card {
				display: flex;
				flex-direction: column;
				flex: 1 1 300px;
				/*
				If you need to keep good feeling
				about images growings, you'd
				better do:
				flex: 0 1 300px;
				 */
				margin: 1em 0.5em;
}