h1 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin: 0.5em;
  padding: 0;
}
h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 200;
  font-size: 40px;
  margin: 0.5em;
}
h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
}
p {
  line-height: 1.5;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.header {
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.footer {
  background: #434446;
  color: #dbdcde;
  padding: 1em;
}
.nav ul {
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline;
}
.nav a {
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #343534;
}

.col {
  color: #424346;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
.teaser,
.read-more {
  padding: 0 20px;
}
.read-more {
  padding: 15px 20px 25px;
}
.read-more .btn {
  padding: 8px 15px 8px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: medium;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  color: #fff;
  border-radius: 3px;
  background: #2fafc8;
}
