html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header, section, aside, footer {
  padding: 10px;
}

header, footer {
	background: #34495E;
}

main {
  display: flex;
	margin:0;
}

section {
  flex: 3;
}

aside {
  flex: 1;
  background: #ABB2B9 ;
}
